.cocktail-data{
    display: grid;
   grid-template-columns: 1fr;
   gap:  1rem;
}
.cocktail-data li img{
    width: 100%;
    max-height: 250px;
    object-fit: cover;

}
@media screen and (min-width:769px){
    .cocktail-data{
        gap:  2rem;
        grid-template-columns: 1fr 1fr 1fr;



    }
    
    
    #pk1{
        color: aqua;
        background: rgb(164, 28, 171);

    }
    #pk0{
        color: red;
    }
}